@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister|Special+Elite&display=swap');

/*
'Shadows Into Light', cursive
*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}

.socials{
    display: flex;
    margin-top: 30px;
}

#spantext {
    color: yellow;
}

.navi {
    float: right;
}

.exc {
    color: yellow;
}

#piz-pap {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
}

li {
    display: inline;
    margin-right: 20px;
}